@model FoxManager.Models.Division
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Team</h1>
    <ul>
        @foreach (var item in @Model.Teams)
        {
            <li>[@item.TeamId<</li>
        }
    </ul> 
    </body>
</html>