@model FoxManager.Models.Student

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile page - @Model.StudentName</title>
</head>
<body>
    <h1>@Model.StudentName's profile</h1>   
</body>
</html>